@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2753365010882256"
     crossorigin="anonymous"></script>
  :root {
    --background: 248 78% 12%; /* #0a0a23 */
    --foreground: 0 0% 98%; /* white */
    --card: 260 100% 11%; /* #1b0036 */
    --card-foreground: 0 0% 98%;
    --popover: 260 100% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 72% 51%; /* #6a1b9a */
    --primary-foreground: 0 0% 98%;
    --secondary: 266 76% 57%; /* #8e24aa */
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 0 0% 80%; /* #ccc */
    --accent: 271 100% 84%; /* #a56fff */
    --accent-foreground: 260 100% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 262 72% 51%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 248 78% 12%; /* #0a0a23 */
    --foreground: 0 0% 98%; /* white */
    --card: 260 100% 11%; /* #1b0036 */
    --card-foreground: 0 0% 98%;
    --popover: 260 100% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 72% 51%; /* #6a1b9a */
    --primary-foreground: 0 0% 98%;
    --secondary: 266 76% 57%; /* #8e24aa */
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 0 0% 80%; /* #ccc */
    --accent: 271 100% 84%; /* #a56fff */
    --accent-foreground: 260 100% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 262 72% 51%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
